<div class="container">
  <div class="form-group">
    <input placeholder="starting location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #originSearch [formControl]="originSearchControl">
    <input placeholder="destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #destSearch [formControl]="destSearchControl">
    <input placeholder="distance out of way" type="number" class="form-control" #detourDist [formControl]="detourControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
  </agm-map>
</div>