:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
}

.header {
  width: 80%;
  height: 70px;
}

.title {
  height: 70px;
  width: 90%;
  padding: 10px;
  float: left;
}

.social {
  height: 70px;
  margin-left: 90%;
  padding: 10px;
}