body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding: 8px;
}

button.formButton {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button.formButton:hover {
  background-color: #28789e;
}
